@import "~bootstrap-icons/font/bootstrap-icons.css";

em {
  color: red;
  font-weight: bolder;
}

i {
  cursor: pointer;
}

.my-custom-scrollbar {
  position: relative;
  height: 240px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

#pitang {
  background-color: red;
  border-radius: 10%;
  padding: 5px;
}

#facepe {
  width: 200px;
}

#ete {
  width: 200px;
  border-radius: 10%;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-top: 10px;
}

.table {
  padding: 15px;
}

/*Mobile display*/
@media (max-width: 650px) {
  .images {
    display: block;
  }
}